.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5em;

  .hero {
    width: 80%;
    height: 60vh;
    border: 1px var(--border-color) solid;
    border-radius: 10px;
    display: flex;
    img {
      border-radius: 10px;
      height: 100%;
      width: 60%;
      object-fit: cover;
      font-size: 3em;
      text-align: center;
    }
    section {
      width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 1em;
      div {
        display: flex;
        justify-content: space-between;
      }
    }
  }
  .analytics {
    margin: 1em;
    section {
      display: flex;
      flex-direction: column;
    }
  }
}
