.sidebar {
  max-width: 195px;
  border-right: 1px var(--border-color) solid;
  height: 100vh;
  position: fixed;
  left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 2em 1em;
  margin: -1em;
  background-color: var(--background-color);

  img {
    object-fit: cover;
    width: 150px;
  }
  div {
    display: flex;
    flex-direction: column;
    div {
      cursor: pointer;
      display: flex;
      flex-direction: row;
      margin: 1em 1px;
      opacity: 0.5;
      justify-content: center;
      span {
        margin-left: 5px;
      }
      h4 {
        display: none;
      }
    }
    div:hover {
      h4 {
        display: inline;
      }
    }
  }
  .theme {
    display: flex;
    flex-direction: row;
    align-items: center;
    div {
      margin-left: 1em;
      width: 20px;
      height: 20px;
      background-color: var(--color);
      border-radius: 30px;
      opacity: 1;
    }
  }
}
