.orderlist {
  ul {
    display: flex;
    flex-direction: column;
    li {
      list-style: none;
      display: flex;
      margin: 1em;
      border: 1px var(--border-color) solid;
      border-radius: 10px;

      div {
        margin: 10px;
        color: var(--color);
      }

      .total,
      .type,
      .payment,
      .status {
        width: 120px;
      }
      .name {
        width: 160px;
      }
      .action,
      .id {
        width: 60px;
      }
    }
    li:hover {
      transform: scale(1.05);
    }
  }
}
