.orderlist {
  span {
    text-align: center;
    font-size: 1.4em;
    margin: 1em;
  }
  ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  ul > li {
    height: 150px;
    width: 400px;
    background-color: whitesmoke;
    margin: 1em;
    border: 1px solid gray;
    display: flex;
    align-items: center;

    img {
      padding: auto;
      object-fit: cover;
      height: 140px;
      width: 190px;
    }

    ol {
      height: 200px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      li {
        text-decoration: none;
        padding: 1em;
      }
    }
  }
}
