.orders {
  display: flex;
  flex-direction: column;

  height: 100%;
  width: 100%;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 1em;
  border-bottom: 1px black solid;
  height: 60px;

  button {
    background-color: black;
    color: white;
    width: 80px;
    height: 50px;
    border-radius: 30px;
  }
}
